.order__slider
  border: 1px solid $border

.order__slide-image_wrapper
  padding: 40px
  border-bottom: 1px solid $border
  border-right: 1px solid $border
  height: 389px
  @include media-breakpoint-down(xl)
    padding: 30px
  @include media-breakpoint-down(md)
    padding: 20px

.order__slide-footer
  text-align: center
  border-right: 1px solid $border
  height: 100px
  display: flex
  justify-content: center
  align-items: center

.slider__button_wrapper
  display: flex
  justify-content: space-between
  height: 73px

.slider__button_arrow
  width: 33.33%
  justify-content: space-around
  align-items: center
  display: flex
  border-bottom: 1px solid $border

.slider__button_count
  width: 33.33%

.slider__button_order-container
  width: 33.33%
  justify-content: end
  align-items: center
  display: flex

.plus-order
  width: 18px
  height: 18px

.order_button-text
  padding-right: 27px
  font-style: normal
  font-family: $main
  font-weight: 600
  font-size: 0.75em
  line-height: 1.125em
  text-transform: uppercase
  color: $black

.border-button
  border-left: 1px solid $border
  height: 100%

.order__slider-title
  cursor: pointer
  font-style: normal
  font-family: $main
  font-weight: 600
  font-size: 0.875em
  line-height: 1.25em
  text-transform: uppercase
  color: $black
